{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
    <h1>Welcome to the Kekambas Blog</h1>
    {% if current_user.is_authenticated %}
    <h3> Logged in as: {{ current_user.username }}</h3>
    {%else%}
    <h3>Please login or signup</h3>
    {% endif %}
{% endblock %}

{% block content %}
   <div class="col-12"></div>
        {% for p in posts %}
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ p.image_url }}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ p.title }}</h5>
                  <p class="card-text">{{ p.body }}</p>
                  <p class="card-text"><small class="text-body-secondary">By {{ p.author.username }}</small></p>
                  <p class="card-text"><small class="text-body-secondary">{{ p.date_created.strftime('%A %B %d, %Y at %I:%M%p') }}</small></p>
                </div>
              </div>
            
            </div>
          </div>
        <h5>Posts Will Go Here</h5>
        {% endfor %}
        </div>
{% endblock %}